input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.calculator{
  background: rgb(1, 14, 34);
  height: 750px;
  width: 400px;
  border: 2px solid rgb(1, 14, 34);;
  border-radius: 15px;
  margin-top: 200px;
  box-shadow: 0 0 10px rgb(1, 14, 34); ;
}